{%  extends '@PrestaShop/Admin/layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('/modules/expressopinionlite/views/assets/css/bo-index.css') }}">
{% endblock %}

{% block content %}


	<form  method="post" id="calendar_form" name="calendar_form" class="form-inline">
		<section class="container mt-5 card panel p-2" id="calendar">
			<div class="row">
				<div class="col-12 ">
					<div class="btn-group">
						<button type="submit" name="submitDateDay" class="btn btn-default submitDateDay">Jour</button>
						<button type="submit" name="submitDateMonth" class="btn btn-default submitDateMonth">Mois</button>
						<button type="submit" name="submitDateYear" class="btn btn-default submitDateYear">Année</button>
						<button type="submit" name="submitDateDayPrev" class="btn btn-default submitDateDayPrev">Jour-1</button>
						<button type="submit" name="submitDateMonthPrev" class="btn btn-default submitDateMonthPrev">Mois-1</button>
						<button type="submit" name="submitDateYearPrev" class="btn btn-default submitDateYearPrev">Année-1</button>
					</div>
				</div>
			</div>

			<div class="row pt-2">
				<div class="col-6 col-md-4">
					<div class="input-group">
						<span class="input-group-text" id="addon-wrapping">Du</span>
						<input type="date" name="datepickerFrom" id="datepickerFrom" value="2024-01-01" class="datepicker form-control hasDatepicker">
					</div>
				</div>
				<div class="col-6 col-md-4">
					<div class="input-group">
						<span class="input-group-text" id="addon-wrapping">Au</span>
						<input type="date" name="datepickerTo" id="datepickerTo" value="2024-02-27" class="datepicker form-control hasDatepicker">
					</div>
				</div>
				<div class="col-12 col-md-4 pt-2 pt-md-0">
					<button type="submit" name="submitDatePicker" id="submitDatePicker" class="btn btn-default submitDatePicker">
						<i class="icon-save"></i>
						Rechecher</button>
				</div>
			</div>
		</section>
	</form>
	<section class="container bg-c-blue mt-5 p-2">
		<div class="row">
			<div class="col-8">
				<div class="row">
					<div class="col">
						<p class="m-b-20 font-weight-bold font-italic fs-8">Question :</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p class="m-b-0 fw-bolder fs-11 ml-3 f-color-b-01">{{ question }}</p>
					</div>
				</div>
			</div>
			<div class="col-4 d-flex align-items-center justify-content-end">
				<div class="fs-12 font-weight-bold" id="date-viewer">...</div>
				<div class="spinner spinner-secondary" role="status" style="display: none;">
					<span class="sr-only">Loading...</span>
				</div>


			</div>
		</div>
	</section>


	<section class="container mt-2">
		<div class="row">
			<div class="col-12 col-md-7">
				<div class="card">
					<h3 class="card-header">
						{{ 'data :' | trans({}, 'Modules.Expressopinionlite.Admin')}}
					</h3>
					<div class="card-body ">
						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col">Reponse</th>
									<th scope="col">Nombre</th>
								</tr>
							</thead>

							<tbody class="table-body"></tbody>
						</table>
						<div id="table-01"></div>
						<div class="spinner spinner-primay " role="status" style="display: none;">
							<span class="visually-hidden">Chargement...</span>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-5">
				<div class="card">
					<h3 class="card-header">
						{{ 'Graphique :' | trans({}, 'Modules.Expressopinionlite.Admin')}}
					</h3>
					<div class="card-body" id="chart-01">

						<div class="spinner spinner-primary mt-1" role="status" style="display: none;">
							<span class="visually-hidden">Chargement...</span>
						</div>
						<canvas id="chart-epl" width="200" height="200"></canvas>

					</div>
				</div>
			</div>
		</div>
	</section>


{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="{{ asset(('/modules/expressopinionlite/views/assets/js/index.js')) }}"></script>
{% endblock %}
