{%  extends '@PrestaShop/Admin/layout.html.twig' %}
{% block content %}
questionForm
question here
section 
    forumuliare

section:
    Reponse associé a la question, une seule reponse possible
<hr>

<div class="row justify-content-center">
    <div class="col">
    
        {% block article_form %}
            {{ form_start(questionForm) }}
                <div class="card">
                    <h3 class="card-header">
                        <i class="material-icons">edit</i>
                        {{ 'Question' | trans({}, 'Modules.Expressopinionlite.Admin')}}
                    </h3>

                    <div class="card-block">
                        <div class="form-wrapper card-test">
                            {{ form_errors(questionForm)}}
 
                            {% block push_form_rest %}
                          {{ form_rest(questionForm)}}
                            {% endblock %}

                        </div>
                    </div>

                    <div class="card-footer">
                        <a href="{{path('oit_article_index') }}" class="btn btn-outline-secondary">
                        {{ 'Cancel' | trans({}, 'Admin.Actions') }}</a>

                         <button class="btn btn-primary float-right">
                    {{ 'Update' | trans({}, 'Admin.Actions') }}
                    </button>
                    </div>

                   
                </div>

            {{ form_end(questionForm)}}
        {% endblock %}
    
    </div>

</div>
<hr>
    <input type="text" readonly/>
<ul>
    <li>Oui</li>
    <li>Non</li>
    <li>Ne se prononce pas</li>
</ul>

 {% endblock %}