{%  extends '@PrestaShop/Admin/layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('/modules/expressopinionlite/views/assets/css/bo-question.css') }}">
{% endblock %}

{% block content %}

	 <div class="row justify-content-center mt-5">
		<div class="col">
			{% block article_form %}
				{{ form_start(questionForm) }}
				<div class="card">
					<h3 class="card-header">
						<i class="material-icons">edit</i>
						{{ 'Question' | trans({}, 'Modules.Expressopinionlite.Admin')}}
					</h3>
					<div class="card-block">
						<div class="form-wrapper card-test">
							{{ form_errors(questionForm)}}
 							{{ form_widget(questionForm.content, {'attr': {'class': 'form-control'}}) }}
							{% block push_form_rest %}
								{{ form_rest(questionForm)}}
							{% endblock %}
						</div>
					</div>
					<div class="card-footer">
						<a href="{{path('ec_expressOpinion_index') }}" class="btn btn-outline-secondary">
							{{ 'Cancel' | trans({}, 'Admin.Actions') }}</a>
						<button class="btn btn-primary float-right">
							{{ 'Update' | trans({}, 'Admin.Actions') }}
						</button>
					</div>
				</div>
				{{ form_end(questionForm)}}
			{% endblock %}
		</div>
	</div> 

	<div class="row justify-content-center mt-3">
		<div class="col">
			<div class="card">
				<h3 class="card-header">
					<i class="material-icons">edit</i>
					{{ 'Réponses associées à la question' | trans({}, 'Modules.Expressopinionlite.Admin')}}
				</h3>
				<div class="card-block">
					<table id="myTable" class="table">
						<thead>
							<tr>
								<th scope="col" class="col-1">#</th>
								<th scope="col">
									<span class="edit-icon">&#9998;</span>Réponse</th>
							</tr>
						</thead>
						<tbody>
							{% for rep in responses %}
								<tr>
									<th scope="row">{{ rep.id}}</th>
									<td contenteditable="true">
										{{rep.content}}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="card-footer"></div>
			</div>
		</div>
	</div> 


{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script src="{{ asset(('/modules/expressopinionlite/views/assets/js/question.js')) }}"></script>
{% endblock %}
